@font-face {
  font-family: 'agendamedium';
  src: url('../fonts/ufonts.com_agenda-medium-webfont.eot');
  src: url('../fonts/ufonts.com_agenda-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_agenda-medium-webfont.woff2') format('woff2'), url('../fonts/ufonts.com_agenda-medium-webfont.woff') format('woff'), url('../fonts/ufonts.com_agenda-medium-webfont.ttf') format('truetype'), url('../fonts/ufonts.com_agenda-medium-webfont.svg#agendamedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agendabold';
  src: url('../fonts/agenda-bold-webfont.eot');
  src: url('../fonts/agenda-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agenda-bold-webfont.woff2') format('woff2'), url('../fonts/agenda-bold-webfont.woff') format('woff'), url('../fonts/agenda-bold-webfont.ttf') format('truetype'), url('../fonts/agenda-bold-webfont.svg#agendabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agendaregular';
  src: url('../fonts/agenda_regular-webfont.eot');
  src: url('../fonts/agenda_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agenda_regular-webfont.woff2') format('woff2'), url('../fonts/agenda_regular-webfont.woff') format('woff'), url('../fonts/agenda_regular-webfont.ttf') format('truetype'), url('../fonts/agenda_regular-webfont.svg#agendaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaLTStd-Roman';
  src: url('../fonts/HelveticaLTStd-Roman.eot') format('embedded-opentype');
  src: url('../fonts/HelveticaLTStd-Roman.otf') format('opentype'), url('../fonts/HelveticaLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaLTStd-Roman.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../fonts/HelveticaLTStd-Bold.eot') format('embedded-opentype');
  src: url('../fonts/HelveticaLTStd-Bold.otf') format('opentype'), url('../fonts/HelveticaLTStd-Bold.woff') format('woff'), url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype'), url('../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot') format('embedded-opentype');
  src: url('../fonts/HelveticaNeueLTStd-Md.otf') format('opentype'), url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  color: #4e4e4e;
  font: 14px/16px 'HelveticaLTStd-Roman', Helvetica, sans-serif;
}
/* General reset */
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
img {
  border-style: none;
  display: block;
}
input,
select,
textarea {
  vertical-align: middle;
  font: 100% arial, helvetica, sans-serif;
  outline: none;
  border: none;
}
input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure {margin: 0;}
h3 {
  font: 18px/20px 'HelveticaLTStd-Bold', helvetica, sans-serif;
  color: #2a4a84;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {text-decoration: none;}
#wrapper {
  width: 100%;
  margin: 0 auto;
}
/*FORM*/
.form-contacts {
  width: 100%;
  overflow: hidden;
}
.form-contacts input:nth-child(odd) {float: left;}
.form-contacts input:not(:last-child):nth-child(even) {float: right;}
input[type=text], [type=email], select {
  border: 1px solid #81619b;
  border-radius: 3px;
  font: 14px Arial, sans-serif;
  color: #81619b;
  height: 30px;
  width: 100%;
  margin: 0 0 15px 0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1) inset;
  padding: 1px 6px 0px 5px;
  font: 12px/14px 'agendamedium', Arial, sans-serif;
  outline: none;
}
input::-webkit-input-placeholder {color:#572b7a;}
.field {
  float: left;
  width: 45%;
  margin-right: 10px;
}
.field-small {
  width: 25%;
  float: left;
}
label {
  text-transform: uppercase;
  font-family: 'agendamedium', Arial, sans-serif;
  color: #2a4a84;
}
.form-contacts option:first-child {display: none;}
.field-small input, .field-small select{width: 85%;}
.submit {
  display: inline-block;
  width: 73px;
  color: #fff;
  display: block;
  font: 12px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.47);
  text-transform: uppercase;
background: url("../img/arrow_more.png") 91% 50% no-repeat, -webkit-linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
background: url("../img/arrow_more.png") 91% 50% no-repeat, -o-linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
background: url("../img/arrow_more.png") 91% 50% no-repeat, linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
  border: 1px solid #eb6900;
  border-radius: 0px;
  height: 25px;
  margin: 10px 0;
}
/*HEADER*/
.header-top {
  height: 35px;
  margin: 6px auto 1px;
  max-width: 1000px;
  min-width: 496px;
}
.search {
  width: 201px;
  padding: 1px 0 0 1px;
  margin: 0 0 0 10px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  float: left;
  overflow: hidden;
}
input::-webkit-search-cancel-button {display: none;}
input[type=search] {
  height: 26px;
  font: 14.16px/15.93px 'agendamedium', helvetica, sans-serif;
  color: rgba(37, 37, 37, 0.65);
}
input[type=search]:focus {outline: none;}
.search input[type="submit"] {
  float: right;
  width: 24px;
  height: 24px;
  background: url("../img/search.png");
}
.plan,
.social {float: right;}
.plan li,
.social li {display: inline-block;}
.plan li a,
.social li a {
  color: #542a76;
  font: 12px/18px 'agendabold', Arial, sans-serif;
  text-transform: uppercase;
}
.plan li a:hover,
.social li a:hover {text-decoration: underline;}
.plan li {padding: 7px 20px 0 0;}
.social li {padding: 5px 5px 0 0;}
.facebook,
.twitter {
  background: url("../img/sprites.png") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}
.twitter {background-position: -20px 0;}
a#pull {display: none;}
.header-main {
  min-height: 51px;
  background: #662d91;
}
.header-main-wrap {
  width: 990px;
  margin: 0 auto;
  height: 51px;
  padding-left: 10px;
}
.logo {
  float: left;
  width: 186px;
  height: 95px;
  background: url("../img/logo.png");
  text-indent: -3333px;
}
nav {
  float: right;
  width: 780px;
}
.menu li {
  display: inline-block;
  position: relative;
  float: left;
  background: url("../img/bg_nav.png") 0% 50% no-repeat;
  padding: 0 0 0 2px;
}
.menu li:first-child {background: none;}
.menu a {
  display: block;
  font: 21px/36px 'agendamedium', arial, sans-serif;
  padding: 9px 27px 6px 27px;
  margin: 0 -2px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.menu > li:hover > a, .menu .active {
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  border: 5px solid #fff;
  padding: 4px 22px 1px 22px;
  background-color: #ff9b4b;
  position: relative;
  z-index: 11;
}
.menu li:hover .drop {display: block;}
.drop {
  display: none;
  width: 464px;
  position: absolute;
  top: 51px;
  left: 0;
  padding: 5px 10px 5px 5px;
  background: url("../img/lights.png") 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop img {float: left;}
.drop ul {
  float: right;
  width: 260px;
}
.drop li {margin-top: 10px;
  display: block;
  float: none;
  background: no-repeat;
  padding: 0;}
.drop a {
  font: 14px/25px 'agendamedium', arial, sans-serif;
  padding: 0 0 0 34px;
  color: #2a4a84;
  background: url("../img/bg__drop_a.png") 8% 50% no-repeat;
}
.drop a:hover {background: #ff9b4b url("../img/bg__drop_a_hover.png") 8% 50% no-repeat;}
.book-trip a {
  padding-left: 60px;
  background: url("../img/bg_book_trip.png") 10% 50% no-repeat;
}
.book-trip:hover .drop-book {display: block;}
li.book-trip:hover > a {
  top: -3px;
  left: -6px;
  padding-left: 60px;
  padding-bottom: 6px;
  background: #ff9b4b url("../img/bg_book_trip_hover.png") 10% 50% no-repeat;
  font: 18px/36px 'agendabold', arial, sans-serif;
  color: #fff;
}
.drop-book {
  display: none;
  width: 220px;
  position: absolute;
  top: 53px;
  left: -6px;
  padding: 0;
  z-index: 10;
  border: 5px solid #fff;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.drop-book li {
  display: block;
  float: none;
  background: no-repeat;
}
.drop-book a {
  padding: 21px 19px 16px 19px;
  font: 16px/18px 'agendamedium', arial, sans-serif;
  color: #363636;
  border-top: 3px solid rgba(0, 0, 0, 0.05);
  background: url("../img/bg_check.png") 91% 48% no-repeat;
}
a.book-search {background: no-repeat;}
.drop-book a:hover {
  background: #662d91;
  color: #fff;
}
.book {
  float: right;
  position: relative;
}
.book a {
  display: block;
  padding: 15px 0px 10px 57px;
  font: 18px/18px 'agendabold', arial, sans-serif;
  text-transform: uppercase;
  background: url("../img/bg_book_trip.png") 12% 62% no-repeat;
}
.book:hover .drop_trip {display: block;}
.drop_trip {
  display: none;
  width: 220px;
  position: absolute;
  top: -11px;
  left: -6px;
  padding: 0;
  z-index: 10;
  border: 5px solid #fff;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.drop_trip li a {
  display: block;
  padding: 21px 0 16px 19px;
  font: 16px/18px 'agendamedium', arial, sans-serif;
  color: #363636;
  border-top: 3px solid rgba(0, 0, 0, 0.05);
  background: url("../img/bg_check.png") 91% 48% no-repeat;
  text-transform: lowercase;
}
.drop_trip li:first-child a {
  padding: 21px 0px 21px 58px;
  background: #ff9b4b url("../img/bg_book_trip_hover.png") 11% 48% no-repeat;
  border: 0;
  color: #fff;
  text-transform: uppercase;
}
.drop_trip li:last-child a {
  border: 0;
  color: #fff;
  text-transform: uppercase;
  background: #662d91 url("../img/bg_search.png") 10% 48% no-repeat;
  padding: 23px 0px 19px 58px;
  margin: 4px 0 0 0;
}
header:after, nav:after {
  content: "";
  display: block;
  clear: both;
}
/* Carousel */
.jcarousel-wrapper {position: relative;}
.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {float: left;}
.jcarousel-first-wrapper .jcarousel img {
  display: block;
  width: 100%;
  height: auto !important;
}
.gal-info {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 11px 0 6px 0;
background: -webkit-linear-gradient(rgba(235, 105, 0, 0.85) 0%, rgba(255, 155, 75, 0.85) 70%, rgba(255, 192, 98, 0.85) 100%) no-repeat;
background: -o-linear-gradient(rgba(235, 105, 0, 0.85) 0%, rgba(255, 155, 75, 0.85) 70%, rgba(255, 192, 98, 0.85) 100%) no-repeat;
background: linear-gradient(rgba(235, 105, 0, 0.85) 0%, rgba(255, 155, 75, 0.85) 70%, rgba(255, 192, 98, 0.85) 100%)   no-repeat;
}
.violet-line {
  position: relative;
  background-color: #572b7a;
  margin: 10px 0 0 0;
}
/* Carousel Controls */
.jcarousel-control-prev {
  background: url("../img/prev.png") no-repeat;
  float: left;
}
.jcarousel-control-next {
  background: url("../img/next.png") no-repeat;
  float: right;
}
.jcarousel-control-prev,
.jcarousel-control-next {
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0 5px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}
.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}
/* Carousel Pagination */
.jcarousel-pagination {display: inline-block;}
.jcarousel-pagination a {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #b7b7b7;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.51) inset;
  display: inline-block;
  margin: 0 3px;
}
.jcarousel-pagination a.active,
.jcarousel-pagination a:hover {
  background: radial-gradient(circle, #233e6f 0%, #233e6f 45%, #ffffff 55%);
  background: -webkit-radial-gradient(circle, #233e6f 0%, #233e6f 45%, #ffffff 55%);
  background: -moz-radial-gradient(circle, #233e6f 0%, #233e6f 45%, #ffffff 55%);
  background: -o-radial-gradient(circle, #233e6f 0%, #233e6f 45%, #ffffff 55%);
  background: -ms-radial-gradient(circle, #233e6f 0%, #233e6f 45%, #ffffff 55%);
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}
.switcher {
  position: absolute;
  bottom: -29px;
  left: 45%;
  z-index: 12;
  overflow: hidden;
}
.grey {
  position: relative;
background: -webkit-linear-gradient(#ececec 0%, #ebebeb 60%, #ececec 70%, #f9f9f9 100%) no-repeat;
background: -o-linear-gradient(#ececec 0%, #ebebeb 60%, #ececec 70%, #f9f9f9 100%) no-repeat;
background: linear-gradient(#ececec 0%, #ebebeb 60%, #ececec 70%, #f9f9f9 100%)   no-repeat;
padding: 0 0 54px 0;
}
.grey:after {
  content: "";
  clear: both;
  display: block;
}
.right-col {
  width: 412px;
  float: right;
  padding: 77px 43px 0 0;
}
.right-col > h3 {
  text-transform: uppercase;
  padding: 0 0 11px 12px;
  border-bottom: 1px solid #bcbcbc;
}
/* Accordion */
#accordion h3 {
  font: 16px/34px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  color: #f7955b;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  padding: 0 0 0 38px;
  text-decoration: none;
  background: url("../img/arrow_accordion.png") 4% 50% no-repeat;
}
#accordion h3:focus {outline: none;}
#accordion .slide {
  background: #f5f5f5;
  padding: 17px 10px 22px 36px;
  height: 145px;
  border-bottom: 1px solid #bcbcbc;
}
#accordion img {
  float: left;
  outline: 1px solid #b7b7b7;
  border: 7px solid #fff;
}
.ui-state-default {border-bottom: 1px solid #bcbcbc;}
.ui-state-active {border-bottom: 0px solid #bcbcbc;}
.ui-accordion-header {cursor: pointer;}
.right {
  float: right;
  width: 200px;
  padding: 7px 0 0 0;
}
.right h4 {
  font: 18px/18px 'agendabold', arial, sans-serif;
  color: #f7955b;
  text-transform: none;
  background: 0;
}
.right p {margin-top: 10px;}
.section768 {display: none;}
.section {
  width: 978px;
  margin: 0 auto;
  position: relative;
}
.left-col {
  width: 500px;
  float: left;
  background: url("../img/gallery_shadow.png") 50% 72% no-repeat;
}
.left-col h1 {
  background: url("../img/see1.png") 0% 0% no-repeat;
  width: 404px;
  height: 140px;
  font-size: 0;
  margin: 0 auto;
  padding: 0 0 8px 0;
}
.jcarousel-first-wrapper {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
}
.jcarousel-first-wrapper .gal-info {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 11px 0 6px 0;
background: -webkit-linear-gradient(rgba(235, 105, 0, 0.85) 0%, rgba(255, 155, 75, 0.85) 70%, rgba(255, 192, 98, 0.85) 100%) no-repeat;
background: -o-linear-gradient(rgba(235, 105, 0, 0.85) 0%, rgba(255, 155, 75, 0.85) 70%, rgba(255, 192, 98, 0.85) 100%) no-repeat;
background: linear-gradient(rgba(235, 105, 0, 0.85) 0%, rgba(255, 155, 75, 0.85) 70%, rgba(255, 192, 98, 0.85) 100%)   no-repeat;
box-shadow: 0px -1px 5px rgba(204, 204, 204, 0.64);
text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}
.jcarousel-first-wrapper .gal-info p {
  font: 36px/36px 'agendamedium', arial, sans-serif;
  text-transform: uppercase;
}
.jcarousel-first-wrapper .gal-info span {font: 18px/21px 'agendamedium', arial, sans-serif;}
.jcarousel-first-wrapper .gal-info strong {
  font: 21px/29.34px 'agendamedium', arial, sans-serif;
  text-transform: uppercase;
}
.jcarousel-first-wrapper .gal-info a {
  color: #ff9b4b;
  padding: 0 20px 0 10px;
  background: url("../img/span_arrow.png") 100% 50% no-repeat;
}
.jcarousel-small-wrapper {
  width: 409px;
  position: relative;
  margin: 0 auto;
}
.jcarousel-small-wrapper .gal-info {
  position: relative;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 11px 0 6px 0;
  background: transparent;
  border-bottom: 1px solid #c4c4c4;
}
.jcarousel-small-wrapper .gal-info p {
  text-transform: lowercase;
  font: 14px/20px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  color: #4e4e4e;
  margin: 10px 0 16px 0;
}
.jcarousel-small-wrapper .gal-info span {
  font: 18px/21px 'agendamedium', arial, sans-serif;
}
.jcarousel-small-wrapper .gal-info strong {
  font: 21px/29.34px 'agendamedium', arial, sans-serif;
}
.jcarousel-small-wrapper h2 {
  font: 28px/30px 'agendabold', arial, sans-serif;
  color: #f7955b;
}
.jcarousel-small-wrapper h3 {
  font: 18px/20px 'HelveticaLTStd-Bold', helvetica, sans-serif;
  color: #2a4a84;
  margin: 8px 0 0 0;
}
.jcarousel-small-wrapper .more {
  display: block;
  width: 113px;
  font: 12px/14px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  padding: 5px 0 5px 20px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.47);
  text-transform: uppercase;
background: url("../img/arrow_more.png") 91% 50% no-repeat, -webkit-linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
background: url("../img/arrow_more.png") 91% 50% no-repeat, -o-linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
background: url("../img/arrow_more.png") 91% 50% no-repeat, linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%)   no-repeat;
border: 1px solid #eb6900;
}
.jcarousel-small-wrapper .switcher {left: 35%;}
.more {
  display: block;
  font: 12px/14px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.47);
  text-transform: uppercase;
background: url("../img/arrow_more.png") 91% 50% no-repeat, -webkit-linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
background: url("../img/arrow_more.png") 91% 50% no-repeat, -o-linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%) no-repeat;
background: url("../img/arrow_more.png") 91% 50% no-repeat, linear-gradient(#eb6900 0%, #ff9b4b 80%, #ffc062 100%)   no-repeat;
border: 1px solid #eb6900;
}
.more:hover {text-decoration: underline;}
.lights_and_gradient {
  padding: 51px 0 55px 0;
background: url("../img/big_lights.png") 0% 50% no-repeat, -webkit-linear-gradient(#eeeeed 0%, #ececec 25%, #bcc3e1 100%);
background: url("../img/big_lights.png") 0% 50% no-repeat, -o-linear-gradient(#eeeeed 0%, #ececec 25%, #bcc3e1 100%);
background: url("../img/big_lights.png") 0% 50% no-repeat, linear-gradient(#eeeeed 0%, #ececec 25%, #bcc3e1 100%)  ;
}
.trip_ideas {
  width:   890px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
}
.trip_ideas h3 {
  text-transform: uppercase;
  margin: 0 0 14px 0;
}
.trip_info {
  background: #fff;
  border: 1px solid #c8c8c8;
  border-bottom: 0;
  line-height: 0;
  letter-spacing: -.36em;
  overflow: hidden;
}
.trip_info .trips {
  display: inline-block;
  overflow: hidden;
  float: left;
  width: 420px;
  padding: 14px 12px 14px 12px;
  border-bottom: 1px solid #c8c8c8;
  letter-spacing: normal;
}
.trip_info .trips img {
  float: left;
  padding-right: 14px;
}
.link {color: #ff9b4b;}
.site_map a {
  font: 14px/17.5px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  color: #ff9b4b;
}
.link:hover,
.trip_ideas a.bottom:hover,
.site_map li:hover a {text-decoration: underline;}
.trips .more, .what-gal .more {
  display: inline-block;
  width: 53px;
  padding: 4px 0 2px 20px;
}
.trip_ideas a.bottom {
  float: right;
  color: #f7955b;
  font: 12px/14px 'HelveticaNeueLTStd-Md', helvetica, sans-serif;
  margin: 5px;
  text-decoration: underline;
}
.trips h3, .what-gal h3 {
  font: 18px/18px 'agendabold', arial, sans-serif;
  color: #f7955b;
  text-transform: none;
  margin: 0 0 0 0;
}
.left {float: left;}
/*Fixed line*/
.violet_line {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 15;
  background: #5b2467;
}
.violet_line .hold {
  max-width: 990px;
  margin: 0 auto;
  padding: 010px;
}
.violet_line .hold:after {
  content: "";
  display: block;
  clear: both;
}
.violet_line.sprites {padding: 2px 0 0 0;}
.sprites li {
  display: inline-block;
  padding: 0 8px 0 0;
}
.sprites li a {
  display: inline-block;
  color: #542a76;
  font: 12px/18px 'agendabold', Arial, sans-serif;
  text-transform: uppercase;
}
.sprites li a:hover {text-decoration: underline;}
.violet_line .sprites li a {
  width: 17px;
  background: url("../img/sprites_foot.png") 0% 0% no-repeat;
  font-size: 0;
}
.violet_line .sprites a.facebook {width: 16px;}
.violet_line .sprites a.instagram {background-position: -16px 0;}
.violet_line .sprites a.youtobe {background-position: -33px 0;}
.violet_line .sprites a.pinterest {
  background-position: -50px 0;
  width: 19px;
}
.violet_line .sprites a.google_plus {background-position: -70px 0;}
.violet_line .sprites a.owl {
  background-position: -87px 0;
  width: 28px;
}
.violet_line .hold .drop_trip {
  top: auto;
  left: auto;
  bottom: 4px;
  right: -26px;
  z-index: 15;
}
.violet_line h2 {
  float: left;
  font: 20px/22px 'agendabold', arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 14px 6px 11px;
}
a.bottom-book {
  background: url("../img/bg_book_trip_bottom.png") 12% 43% no-repeat;
  padding: 8px 0px 8px 57px;
}
/*Footer*/
footer {
  padding: 0 0 98px 0;
  text-align: center;
}
.footer_top {
  padding: 32px 0 21px 0;
  background: #fff;
  text-align: center;
}
.sponsor_logos {overflow: hidden;}
.sponsor_logos li {
  display: inline-block;
  width: 25%;
}
.sponsor_logos img {
  margin: 0 auto;
  max-width: 100%;
}
.site_map {
  overflow: hidden;
  padding: 8px 0 0 0;
}
.site_map li {display: inline-block;}
.site_map li:last-child:after {
  content: "";
  padding: 0 5px;
}
.site_map li:after {
  content: "|";
  padding: 0 5px;
  color: #ff9b4b;
}
footer span {
  display: inline-block;
  font: 14px/14px 'HelveticaLTStd-Roman', helvetica, sans-serif;
  padding: 38px 0 0 0;
  color: #3c3c3c;
}
/*WHAT TO DO PAGE*/
.what-to-do-bg {
background-image: url("../img/burbank.png"), url("../img/big_lights.png"),-webkit-linear-gradient(#eef0f9 0%, #cad1f0 100%);
background-image: url("../img/burbank.png"), url("../img/big_lights.png"),-o-linear-gradient(#eef0f9 0%, #cad1f0 100%);
background-image: url("../img/burbank.png"), url("../img/big_lights.png"),linear-gradient(#eef0f9 0%, #cad1f0 100%)  ;
  background-position: top right, bottom left, top right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100px;
}
.content h1 {
  margin: 0 0 15px 0;
  font: 34px 'agendabold', Arial, sans-serif;
  color: #2a4a84;
  text-transform: uppercase;
}
.content span {
background: -webkit-linear-gradient(#eb6900 0%, #ffc062 100%);
background: -o-linear-gradient(#eb6900 0%, #ffc062 100%);
background: linear-gradient(#eb6900 0%, #ffc062 100%)  ;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.what-gal li {
  width: 320px;
  min-height: 200px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.what-gal .img-wr {
  display: block;
  padding-bottom: 15px;
  background: url("../img/img-shadow.png") 0px 159px no-repeat;
  background-size: 100%;
}
/*LIST PAGE*/
.list-bg {
background-image: url("../img/big_lights.png"),-webkit-linear-gradient(#fff 0%, #cad1f0 100%);
background-image: url("../img/big_lights.png"),-o-linear-gradient(#fff 0%, #cad1f0 100%);
background-image: url("../img/big_lights.png"),linear-gradient(#fff 0%, #cad1f0 100%)  ;
  background-position: bottom left, top right;
  background-repeat: no-repeat;
  background-size: 100%;
}
.list-moved {
  position: relative;
  top: 200px;
  overflow: hidden;
  max-width: 950px;
  margin: 0 auto 200px;
  padding: 25px 0;
  background: #fff;
}
.list-wr {
  overflow: hidden;
  max-width: 950px;
  margin: 0 auto;
  padding: 25px 0;
}
.mini-nav {
  overflow: hidden;
  margin: 0 0 25px 33px;
}
.mini-nav li {
  float: left;
  margin: 0 7px 0 0;
  padding: 0 5px 0 0;
  border-right: 1px solid #cbcbcb;
}
.mini-nav li:last-child {border: 0;}
.mini-nav a {text-transform: uppercase;}
.mini-nav a.active {
  color: #b9a9c6;
  font-style: italic;
}
.sidebar {
  width: 200px;
  margin: 0 33px 0 33px;
  float: left;
}
.sidebar .active, .sidebar li a:hover {
  font-family: 'agendabold', Arial, sans-serif;
  color: #2a4a84;
}
.viol-rectangle {
  background: #572b7a;
  padding: 10px;
  margin-top: 10px;
}
.viol-rectangle p {
  color: #fff;
  margin-bottom: 5px;
  font: 12px/14px 'HelveticaLTStd-Roman', Helvetica, sans-serif;
}
.viol-rectangle a {
  color: #fff;
  font: 12px/14px 'HelveticaLTStd-Roman', Helvetica, sans-serif;
}
.viol-rectangle a:hover {text-decoration: underline;}
.up-case {text-transform: uppercase;}
p.name {
  font: 12px/14px 'HelveticaLTStd-Bold', Helvetica, sans-serif;
  text-transform: uppercase;
}
.mini-nav a,
.sidebar li a {
  display: block;
  color: #f7955b;
  font: 12px/14px 'agendamedium', Helvetica, sans-serif;
}
.mini-nav a:hover {text-decoration: underline;}
.sidebar li {border-bottom: 2px solid #cbcbcb;}
.sidebar li a {
  font-size: 16px;
  line-height: 34px;
  text-transform: none;
}
.content {margin: 7px 0 0 266px;}
.content .trips {
  overflow: hidden;
  padding: 0 0 5px 5px;
}
.trips .img-wr {
  float: left;
  padding: 0 14px 14px 14px;
  background: url("../img/img-shadow.png") 0 108px no-repeat;
}
.trips .right {width: 442px;}
.trips p, .what-gal p, .content p {
  font-size: 12px;
  line-height: 16px;
  color: #666;
  margin: 4px 21px 18px 0;
}
.content .trips .hold_img_480,
.content .trips .right_480 {display: none;}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .grey, .section {width: 768px;}
  .violet_line .hold {min-width: 625px;}
  .book-trip, .section {display: none;}
  .header-main-wrap {
    width: 726px;
    margin: 0 auto;
    height: 51px;
    padding: 0 10px;
}
  .jcarousel-first-wrapper li {overflow: hidden;}
  .section768 {display: block;}
  .section768 h1 {
    background: url("../img/see2.png") 0% 0% no-repeat;
    width: 481px;
    height: 135px;
    font-size: 0;
  }
  .section768 h3 {
    font-size: 12px;
    text-transform: uppercase;
  }
  .jcarousel-section768-wrapper {
    width: 660px;
    position: relative;
    margin: 0 auto;
  }
  .jcarousel-section768-wrapper li {overflow: hidden;}
  .jcarousel-section768-wrapper img {float: left;}
  .first-line {overflow: hidden;}
  .first-line .right {
    width: 507px;
    padding-left: 15px;
  }
  .first-line .more {
    width: 99px;
    font-size: 10.64px;
    line-height: 11px;
    padding: 5px 0 5px 20px;
  }
  .first-line p {margin: 10px 0 18px 0;}
  .first-line a {margin: 10px 0 18px 0;}
  .first-line .link {
    color: #2a4a84;
    font: 10px/18px 'HelveticaLTStd-Roman', helvetica, sans-serif;
    font-weight: bold;
  }
  .first-line .link:hover {text-decoration: underline;}
  .trip_ideas {width: 690px;}
  .trip_info .trips {width: 665px;}
  .trip_info .trips .right {width: 480px;}
  .book {margin: 5px 26px 0 0;}
  .violet_line .sprites a {
    width: 31px;
    height: 31px;
    background-position: 0px -20px;
  }
  .violet_line .sprites a.facebook {width: 31px;}
  .violet_line .sprites a.instagram {background-position: -31px -20px;}
  .violet_line .sprites a.youtobe {background-position: -62px -20px;}
  .violet_line .sprites a.pinterest {
    background-position: -93px -20px;
    width: 31px;
  }
  .violet_line .sprites a.google_plus {
    width: 29px;
    background-position: -124px -20px;
  }
  .violet_line .sprites a.owl {
    background-position: -155px -20px;
    width: 50px;
  }
  .violet_line .hold .drop_trip {right: -4px;}
  .violet_line h2 {padding: 12px 14px 6px 11px;}
/*LIST PAGE*/
  .sidebar {margin: 0 23px 0 33px;}
  .trips .right {
    width: 250px;
    margin: 0;
    padding: 0;
  }
  .trips .right p {
    line-height: 14px;
    margin: 6px 21px 8px 0;
  }
  .menu > li:last-child > a {display: none;}
  nav { width: 520px;}
}

@media screen and (max-width: 480px) {
  .header-main-wrap, .violet_line, .grey, .section, .left-col {width: 480px;}
  .lights_and_gradient, .trip_ideas,
  .right-col, .violet_line {display: none;}
  .jcarousel-small-wrapper {
    width: 409px !important;
    position: relative;
    margin: 0 auto;
  }
  .jcarousel-first-wrapper li {overflow: hidden;}
  .content {
    margin: 0 auto;
    width: 340px;
    text-align: center;
  }
  .content .trips {
    overflow: hidden;
    padding: 0;
    margin-bottom: 20px;
}
  .sidebar {
    width: 440px;
    margin: 0 auto 20px;
    float: none;
  }
  .trips .right {
    float: none;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 20px;
  }
  .trips .img-wr {
    display: block;
    float: none;
    background: url("../img/img-shadow.png") 0 160px no-repeat;
    background-size: contain;
  }
  .img-wr img {
    width: 320px;
    height: 170px;
    margin: 5px auto;
  }
  .trips .more, .what-gal .more {
    display: inline-block;
    width: 73px;
    float: right;
    padding: 4px 0 2px;
}
.trips p {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin: 5px auto;
    width: 320px;
}
  .header-top {display: none;}
  .header {
  margin: 0 0 6px 0;
background: -webkit-linear-gradient(#412953, #412953) no-repeat;
background: -o-linear-gradient(#412953, #412953) no-repeat;
background: linear-gradient(#412953, #412953)   no-repeat;
  background-size: 100% 51px;
  background-position: 0 0;
}
  nav {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 0;
  }
  nav:after {clear: both;}
  .menu li {
    display: block;
    float: none;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
}
  .menu a {
    line-height: 40px;
    padding: 0;
    background: transparent;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding-left: 20px;
}
  .menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    float: none;
    background: #662d91;
  }
.menu ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: pink;
}
.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}
  .drop, .drop-book {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: pink;
    box-shadow: none;
    border: none;
  }
  .drop a, .drop-book a {padding-left: 40px;}
  .menu img {display: none;}
  a#pull {
    display: block;
    width: 110px;
    height: 51px;
    right: 0;
    float: right;
    background: #662d91;
    padding: 0 0 0 51px;
    font: 21px/51px 'agendamedium', arial, sans-serif;
    text-transform: uppercase;
  }
  .menu li a:hover, .menu li:hover > a {
    background: transparent;
    color: #ffffff;
    text-decoration: underline;
    border-top: 1px solid #ffffff;
  }
  .menu > li:hover > a,
  .menu > li:last-child > a, .menu .active {
    box-shadow: none;
    border: none;
    padding: 0 20px;
    background: no-repeat;
    border-top: 1px solid #ffffff;
    padding-left: 20px;
    float: none;
  }
  li.book-trip:hover > a, li.book-trip > a {
    top: 0;
    left: 0;
    font: 21px/36px 'agendamedium', arial, sans-serif;
  }
  .sponsor_logos img{max-height: 80px;}
  .site_map {border-bottom: 1px solid #000;}
  .site_map li {
    display: block;
    text-align: left;
    border-top: 1px solid #333333;
    background-color: #e5e5e5;
    padding: 5px 15px;
}
  .site_map li:after {content: "";}
  .site_map a {
    font: 18px/32px 'agendabold', arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
  }
  .jcarousel-first-wrapper .gal-info {
    position: absolute;
    bottom: -113px;
  }
  .switcher {
    position: absolute;
    bottom: 20px;
  }
  .jcarousel-first-wrapper {margin-bottom: 133px;}
}