#wrapper, .jcarousel-wrapper, .jcarousel-first-wrapper,
.violet_line, .grey, .section, .violet_line .hold, .list-wr {width: 768px;}
.top .sprites, .wrap .book, .section {display: none;}
.wrap {
    width: 527px;
    padding: 0 21px 0 0;
}
.top {margin: 6px 0 1px 93px;}
.top .search {float: right;}
.nav-header {float: left;}
.logo {margin: 42px 12px 0 0;}
.jcarousel-first-wrapper li {overflow: hidden;}
.jcarousel-first-wrapper li img {margin: 0 0 0 -216px;}
.section768 {display: block;}
.section768 h1 {
    background: url("../img/see2.png") 0% 0% no-repeat;
    width: 481px;
    height: 135px;
    font-size: 0;
}
.section768 h3 {
    font-size: 12px;
    text-transform: uppercase;
}
.jcarousel-section768-wrapper {
    width: 660px;
    position: relative;
    margin: 0 auto;
}
.jcarousel-section768-wrapper li {overflow: hidden;}
.jcarousel-section768-wrapper img {float: left;}
.first-line {overflow: hidden;}
.first-line .right {
    width: 507px;
    padding-left: 15px;
}
.first-line .more {
    width: 99px;
    font-size: 10.64px;
    line-height: 11px;
    padding: 5px 0 5px 20px;
}
.first-line p {margin: 10px 0 18px 0;}
.first-line a {margin: 10px 0 18px 0;}
.first-line .link {
    color: #2a4a84;
    font: 10px/18px 'HelveticaLTStd-Roman', helvetica, sans-serif;
    font-weight: bold;
}
.first-line .link:hover {text-decoration: underline;}
.trip_ideas {width: 690px;}
.trip_info .trips {
    overflow: hidden;
    float: left;
    width: 669px;
    padding: 14px 12px 14px 8px;
    border-bottom: 1px solid #c8c8c8;
}
.trip_info .trips .right {width: 480px;}
footer {text-align: left;}
.footer768 {
	display: block;
	width: 244px;
	float: left;
}
.sponsor_logos li:first-child a {float: right;}
.sponsor_logos li:first-child a img {
	width: 55px;
	height: 59px;
}
.sponsor_logos li:last-child a img {
	width: 162px;
	height: 62px;
}
.sponsor_logos li:nth-child(2) a img {
	width: 68px;
	height: 64px;
}
.footer_top {display: none;}
.footer768 {padding: 17px 0 21px 0;}
.footer768 .sponsor_logos li {margin: 0 24px;}
.site_map {
	width: 524px;
	float: left;
	padding: 4px 0 0 0;
}
footer .site_map ul li a {line-height: 48px;}
footer span {padding: 12px 0 0 0;}
hr {
	display: block;
	border-bottom: none;
}
.no-cont:before {content: " " !important;}
.book {margin: 5px 26px 0 0;}
.violet_line .hold .left .sprites li a {
    width: 31px;
    height: 31px;
    background-position: 0px -20px;
}
.violet_line .hold .left .sprites li a.facebook {width: 31px;}
.violet_line .hold .left .sprites li a.instagram {background-position: -31px -20px;}
.violet_line .hold .left .sprites li a.youtobe {background-position: -62px -20px;}
.violet_line .hold .left .sprites li a.pinterest {
    background-position: -93px -20px;
	width: 31px;
}
.violet_line .hold .left .sprites li a.google_plus {
    width: 29px;
    background-position: -124px -20px;
}
.violet_line .hold .left .sprites li a.owl {
    background-position: -155px -20px;
    width: 50px;
}
.violet_line .hold .drop_trip {right: -4px;}
.violet_line .hold .left h2, .footer_480 h2 {padding: 12px 14px 6px 11px;}
/*LIST PAGE*/
.sidebar {margin: 0 23px 0 33px;}
.content {width: 469px;}
.content h1 {
    background: url("../img/h1_tours_768.png") 0% 0% no-repeat;
    width: 283px;
    height: 61px;
    margin: 0 0 25px 16px;
}
.trips .right {
    width: 250px;
    margin: 0;
    padding: 0;
}
.trips .right p {
    line-height: 14px;
    margin: 6px 21px 8px 0;
}